/* Variables */
@grey-300: #E0E0E0;
@grey-500: #9E9E9E;
@grey-700: #616161;
@grey-900: #212121;

/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  color: @grey-900;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  text-transform: lowercase;
}

ul {
  list-style: none;
}

::selection {
  background: @grey-900;
  color: #fff;
}

/* Menu */
.c-menu {
  list-style: none;

  &--large {
    font-size: 100px;
    letter-spacing: -10px;
    line-height: 0.8;
  }

  &__title {
    color: @grey-500;
    font-size: 1em;
    font-weight: normal;
  }

  &__list {
    margin-left: 0.8em;
  }
}

/* Week menu */
.c-week-menu {
  border-collapse: collapse;
  bottom: 0;
  position: absolute;
  width: 100%;

  &__header {
    line-height: 1;
    text-align: left;
    vertical-align: top;

    &:first-child {
      text-align: right;
    }
  }

  &__column {
    width: 100% / 8;

    &:not(:first-child) {
      border-left: 1px solid @grey-900;
    }

    &.is-today {
      background: @grey-300;
    }
  }

  &__row {
    &:not(:last-child) {
      border-bottom: 1px solid @grey-900;
    }
  }

  &__cell {
    color: @grey-700;
    padding: 0.2em 0;
    vertical-align: top;
  }
}
